*.exe
*.exe~
*.dll
*.so
*.dylib

go.work
go.work.sum

.DS_*
*.log
logs

node_modules

.idea

ocrflow/.env_private

*.db*
ocrflow/full_backups
!ocrflow/backups/*.db*
ocrflow/store/data/*
!ocrflow/store/data/tps/
!ocrflow/store/data/transcriptions/
*/internal/*/docs
*/internal/docs
ocrflow/store/items_metadata/diagram-directories.json
ocrflow/store/diagrams/

dh_datasets_create.state.json
